.home-container {
  height: 300px;
  color: #fffff0;
}
.home-content h1 {
  padding: 10px;
  padding-top: 30px;
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-size: 80px;
  margin-left: 90px;
}
.home-content h2 {
  padding: 10px;
  padding-left: 50px;
  color: rgb(79, 5, 52);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: 500px;
  margin-left: 90px;
}

.home-buttons{
    margin-left: 150px;
    margin-top: 30px;
}

.home-buttons .btn-hire{
    background-color: rgb(79, 5, 52);
    color: white;
    width: 160px;
    height: 40px;
 
}
.home-buttons .btn-hire:hover{
    background-color: white;
    color: rgb(79, 5, 52);
    opacity: 50%;
    transition: 0.5s;
}

.home-buttons .btn-cv{
    background-color: rgb(79, 5, 52);
    color: white;
    width: 160px;
    margin-left: 40px;

}

.home-buttons .btn-cv:hover{
    background-color: white;
    color: rgb(79, 5, 52);
    opacity: 50%;
    transition: 0.5s;
    
}
