.about{
    margin: 40px 0px;
    padding: 20px;
    margin-left: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.about-img img{
    border-radius: 0px;
    height: 400px;
    width: 300px;
    margin-left: 130px;
    margin-top: 80px;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
   


.about-content h1{
    color: blueviolet;
    font-family: cursive;
    border-bottom: 2px solid gray;
    text-align: center;

}

.about-content p{
    text-align: justify;
    padding: 20px;
}